<a href="https://colab.research.google.com/github/jsuryakt/House-Price-Linear-Regression/blob/master/House_Price_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
house_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/kc_house_data/kc_house_data.csv')

In [2]:
house_data.head()

      price  bedrooms  bathrooms  ...     long  sqft_living15  sqft_lot15
0  221900.0         3       1.00  ... -122.257           1340        5650
1  538000.0         3       2.25  ... -122.319           1690        7639
2  180000.0         2       1.00  ... -122.233           2720        8062
3  604000.0         4       3.00  ... -122.393           1360        5000
4  510000.0         3       2.00  ... -122.045           1800        7503

[5 rows x 19 columns]

In [4]:
house_data.notnull().sum()

price            16613
bedrooms         16613
bathrooms        16613
sqft_living      16613
sqft_lot         16613
floors           16613
waterfront       16613
view             16613
condition        16613
grade            16613
sqft_above       16613
sqft_basement    16613
yr_built         16613
yr_renovated     16613
zipcode          16613
lat              16613
long             16613
sqft_living15    16613
sqft_lot15       16613
dtype: int64

In [6]:
X = house_data.drop('price', axis = 1)
y = house_data['price']

In [71]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.2, random_state = 5)

In [72]:
y_train

5061      370000.0
8227      722800.0
15464     295000.0
11409     525000.0
3708     1350000.0
           ...
740       360000.0
1032      554000.0
5520      700000.0
3046      386900.0
2915      455000.0
Name: price, Length: 13290, dtype: float64

In [73]:
y_test

10353    385000.0
13584    390000.0
15405    990000.0
3245     658600.0
3696     350000.0
           ...
8292     597500.0
1370     260000.0
11820    670000.0
1719     700000.0
11596    575000.0
Name: price, Length: 3323, dtype: float64

In [74]:
from sklearn.linear_model import LinearRegression

In [75]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [76]:
pred = model.predict(X_test)

In [77]:
import numpy as np

In [78]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_test,pred))

185505.37158938628

In [79]:
test_new = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/kc_house_data/kc_house_new_test_data.csv')

In [81]:
price = model.predict(test_new)

In [83]:
res = pd.DataFrame(price)
res.index = test_new.index

In [84]:
res.index

RangeIndex(start=0, stop=4999, step=1)

In [85]:
res.columns = ["price"]

In [86]:
res.to_csv("House_Price_first_model.csv")